.wrap {
  background-color: rgb(0, 0, 0, 0.9);
  padding-bottom: 50px;
}

.container {
  margin: auto;
  width: 1400px;
  /* background-color: rgb(0, 0, 0, 0.7); */
  list-style: none;
  display: grid;
  justify-items: center;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(3, 1fr);
}
