.closeBtn {
  position: fixed;
  top: 66px;
  right: 80px;
  text-align: center;
}
.button {
  cursor: pointer;
}
.red {
  background-color: #e2012d;
}
.blue {
  background-color: dodgerblue;
}
.pink {
  background-color: pink;
}
.large,
.medium,
.small {
  border-radius: 5px;
  border: none;
  outline: none;
}
.large {
  padding: 10px 60px;
}
.medium {
  padding: 10px 40px;
}
.small {
  padding: 10px 20px;
}
