@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  margin: 0;
  padding: 0;
}

li,
span {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
